@import "../node_modules/bootstrap/scss/bootstrap";

@font-face {
    font-family: Montserrat-Bold;
    src: url(fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(fonts/Montserrat-Regular.ttf);
}

$mycolor: #1E4AD6;

@include media-breakpoint-down(md) {
    #header img {
        width: 50vw;
    }

    #name {
        font-size: 8vw;
        color: $mycolor;
    }

    h3 {
        font-size: 5vw;
    }

    .btn.btn-nav {
        width: 55vw;
    }

    .d-flex {
        gap: 4vw;
    }

    #hyperlinks {
        order: 0;
        font-size: 4vw;
    }

    #vklogo {
        width: 15vw;
        // margin-top: 3vw;
        // margin-left: 20vw;
    }

    #figures, #map_figures {
        display: none;
    }

    #form {
        // margin: 2vw;
        order: 1;
    }

    .table {
        // margin: 0 auto;
        width: 80vw;
        order: 2;
    }

    #copyright {
        font-size: 4.5vw;
    }
}

@include media-breakpoint-up(md) {
    #name {
        font-size: 3vw;
    }

    #header img {
        width: 20vw;
    }

    .btn.btn-nav {
        width: 13.5vw;
    }

    #vklogo {
        // margin-top: 10px;
        // margin-left: 50px;
        width: 4vw;
    }

    .table {
        width: 35vw;
    }

    #figures_mobile, #map_figures_mobile {
        display: none;
    }

    #copyright {
        font-size: 1.2vw;
    }
}

body {
    margin: 0;
    font-family: Montserrat-Regular;
}

#name {
    font-weight: bold;
    color: $mycolor;
}

.btn.btn-nav {
    @include button-variant($mycolor, $mycolor, white, white, $mycolor, $mycolor);
    border: 2px solid $mycolor;
    border-radius: 3px;
    transition-duration: 0.4s;
}

#copyright {
    font-family: Montserrat-Bold;
}