@media only screen and (max-width: 768px)
{
    #navigation {
        background-color: black;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* float: left; */
        /* margin-left:  */
    }

    .btn {
        width: 40%;
    }

    #content {
        /* margin-top: 200px; */
        display: flex;
        margin-left: 20px;
    }
}

@media only screen and (min-width: 769px) {
    #navigation {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    #content {
        margin-left: 20px;
    }
}

#header {
    display: flex; /* флексбокс */
    align-items: center; /* cross-axis выравнивание */
    justify-content: center; /* main-axis выравнивание */
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(Montserrat-Regular.ttf);
}

body {
    margin: 0;
    font-family: Montserrat-Regular;
}

footer {
    text-align: center;
    margin: 20px auto;
}

table {
    text-align: center;
}

.even {
    background-color: aqua;
}

.odd {
    background-color: greenyellow;
}

.btn {
    background-color: #1E4AD6;
    color: white;
    text-decoration: none; /* убрать подчеркивание ссылки */
    padding: 6px 10px; /* расширить "поле", чтобы кнопки выглядели крупнее */
    border-radius: 3px; /* закругленные края */
    border: 2px solid #1E4AD6; /* сплошная граница */
    transition-duration: 0.4s; /* сокрытие через интервал */
}

.btn:hover {
    background-color: white;
    color: #1E4AD6;
}

#name {
    font-size: 300%;
    color: #1E4AD6;
}

#logo {
    width: 20%;
}

#vklogo {
    margin-top: 10px;
    margin-left: 50px;
    width: 8%;
}

#copyright {
    font-family: Montserrat-Bold;
    text-align: center;
    font-size: 110%;
}