@font-face {
    font-family: Montserrat-Bold;
    src: url(Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(Montserrat-Regular.ttf);
}

body {
    margin: 0;
    font-family: Montserrat-Regular;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    gap: 6vw;
}

#name {
    font-size: 300%;
    color: #1E4AD6;
}

#logo {
    width: 20%;
}

#header img {
    margin-left: 7vw;
    width: 42vw;
}

#navigation {
    display: flex;
    flex-direction: column;
    gap: 4vw;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #1E4AD6;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    border: 2px solid #1E4AD6;
    transition-duration: 0.4s;
    width: 38vw;
    padding: 5px 10vw;
}

.btn:hover {
    background-color: white;
    color: #1E4AD6;
}

h3 {
    margin-left: 2vw;
    font-size: 4vw;
}

#content {
    display: flex;
    flex-direction: column;
}

#hyperlinks {
    order: 0;
    font-size: 4vw;
}

#hyperlinks ol {
    margin-left: 1vw;
}

#vklogo {
    width: 15vw;
    margin-top: 3vw;
    margin-left: 20vw;
}

#figures, #map_figures {
    display: none;
}

#form {
    margin: 2vw;
    order: 1;
}

#table {
    margin: 0 auto;
    order: 2;
    text-align: center;
}

#table h3 {
    text-align: center;
}

.even {
    background-color: aqua;
}

.odd {
    background-color: greenyellow;
}

footer {
    text-align: center;
    margin: 20px auto;
}

#copyright {
    font-family: Montserrat-Bold;
    font-size: 90%;
}

/*
The 'only' keyword prevents older browsers that do not support
media queries with media features from applying the given styles.
It has no effect on modern browsers.
*/
@media only screen and (min-width: 769px) {
    #header {
        display: block; /* turn off flexbox */
        max-width: 960px;
        margin: 0 auto;
        font-size: 1vw;
    }

    #header h1 {
        float: left;
        margin-top: 130px;
    }

    #header img {
        margin-left: 0;
        float: left;
        width: 20vw;
    }

    #navigation {
        flex-direction: row;
        gap: 2vw;
        clear: left; /* сделать элемент ниже в потоке после float: left эл-в */
    }

    .btn {
        padding: 6px 10px;
        width: 12vw;
    }

    main {
        max-width: 960px;
        margin: 0 auto;
        margin-top: 4vw;

    }

    h3 {
        margin-left: 0;
        font-size: 1.2vw;
    }

    #content {
        display: block;
        clear: left;
    }

    #hyperlinks {
        font-size: 1.05vw;
    }

    #hyperlinks ol {
        margin-left: 0;
    }

    #vklogo {
        margin-top: 10px;
        margin-left: 50px;
        width: 4%;
    }

    #figures, #map_figures {
        display: initial; /* default value of property */
    }

    #figures_mobile, #map_figures_mobile {
        display: none;
    }

    #form {
        margin: 0;
    }

    #table {
        margin: 0;
    }

    #table h3 {
        text-align: initial;
    }

    footer {
        text-align: left;
    }

    #copyright {
        font-size: 110%;
    }
}
