@import "node_modules/bootstrap/scss/bootstrap";

$primary_color: #1E4AD6;

@include media-breakpoint-down(md) {
    #header img {
        width: 50vw;
    }

    #name {
        font-size: 10vw;
        color: $primary_color;
    }

    #logo {
        width: 50vw;
        // background-color: black;
    }

    #navigation {
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    h3 {
        margin-left: 2vw;
        font-size: 4vw;
    }

    .btn {
        width: 40vw;
        padding: 1px 10vw;
    }

    #main-content {
        display: flex;
        flex-direction: column;
    }

    #hyperlinks {
        order: 0;
        font-size: 4vw;
    }

    #hyperlinks ol {
        padding-left: 11vw;
    }

    #vklogo {
        width: 15vw;
        margin-top: 3vw;
        margin-left: 20vw;
    }

    #figures, #map_figures {
        display: none;
    }

    #form {
        margin: 2vw;
        order: 1;
    }

    #table {
        margin: 0 auto;
        order: 2;
    }

    #table h3 {
        text-align: center;
    }

    #copyright {
        font-size: 90%;
    }
}

@include media-breakpoint-up(md) {
    #navigation {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    .btn {
        padding: 6px 10px;
    }

    #main-content {
        margin-left: 20px;
    }

    #vklogo {
        margin-top: 10px;
        margin-left: 50px;
        width: 4%;
    }

    #figures_mobile, #map_figures_mobile_id {
        display: none;
    }

    #copyright {
        font-size: 110%;
    }
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(Montserrat-Regular.ttf);
}

body {
    // color: $primary_color;
    margin: 0;
    font-family: Montserrat-Regular;
}

footer {
    text-align: center;
    margin: 20px auto;
}

table {
    text-align: center;
}



// .btn {
//     background-color: $primary_color;
//     color: white;
//     text-decoration: none;
//     border-radius: 3px;
//     border: 2px solid $primary_color;
//     transition-duration: 0.4s;
// }

// .btn:hover {
//     background-color: white;
//     color: $primary_color;
// }

.even {
    background-color: aqua;
}

.odd {
    background-color: greenyellow;
}

#name {
    // font-size: 300%;
    color: $primary_color;
}

#logo {
    width: 20%;
}

#copyright {
    font-family: Montserrat-Bold;
}