$mycolor: #1E4AD6;

/* _functions.scss are needed to change map,
and _variables.scss contains $spacers */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// SASS map for custom spacers' sizes
$myspacers: (
    6: $spacer * 5,
    7: $spacer * 8,
);

$spacers: map-merge($spacers, $myspacers);

// Import the rest of BS5 to update spacers
@import "../node_modules/bootstrap/scss/bootstrap";

@font-face {
    font-family: Montserrat-Bold;
    src: url(fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(fonts/Montserrat-Regular.ttf);
}

body {
    font-family: Montserrat-Regular;
}

h3 {
    font-size: 5vw;
}

#calc-name {
    font-size: 6vw;
    color: $mycolor;
}

#calc-form {
    font-size: 5vw;
}

.btn.btn-calc {
    @include button-variant($mycolor, $mycolor, white, white, $mycolor, $mycolor);
    border: 2px solid $mycolor;
    border-radius: 15px;
    transition-duration: 0.4s;
    width: 50vw;
    font-size: 4.5vw;
}

.calc-input {
    width: 35vw;
}

#prod-radios, #prod-checkbox, #amount {
    display: none;
}

#purchase, #result {
    font-weight: bold;
    font-size: 5.5vw;
}

@include media-breakpoint-up(md) {
    main {
        max-width: 960px;
    }

    h3 {
        font-size: 1.3vw;
    }

    #calc-form {
        font-size: initial; // default value
    }

    #calc-name {
        font-size: 1.5vw;
    }

    .btn.btn-calc {
        font-size: initial; // default value
        width: 10vw;
    }

    .calc-input {
        width: 10vw;
    }

    #purchase, #result {
        font-size: 1.2vw;
    }

    #copyright {
        font-size: 1.2vw;
    }
}