@font-face {
    font-family: Montserrat-Bold;
    src: url(Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(Montserrat-Regular.ttf);
}

body {
    margin: 0;
    font-family: Montserrat-Regular;
}

footer {
    text-align: center;
    margin: 20px auto;
}

table {
    text-align: center;
}

.even {
    background-color: aqua;
}

.odd {
    background-color: greenyellow;
}

.btn {
    background-color: #1E4AD6;
    color: white;
    text-decoration: none; /* убрать подчеркивание ссылки */
    padding: 6px 10px; /* расширить "поле", чтобы кнопки выглядели крупнее */
    border-radius: 3px; /* закругленные края */
    border: 2px solid #1E4AD6; /* сплошная граница */
    transition-duration: 0.4s; /* сокрытие через интервал */
}

.btn:hover {
    background-color: white;
    color: #1E4AD6;
}

#header {
    display: flex; /* флексбокс */
    width: 100%;
    align-items: center; /* cross-axis выравнивание */
    justify-content: center; /* main-axis выравнивание */
}

#navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px; /* отступы между детьми флекбокса */
}

#content {
    margin-left: 20px;
}

#name {
    font-size: 300%;
    color: #1E4AD6;
}

#logo {
    width: 20%;
}

#vklogo {
    margin-top: 10px;
    margin-left: 50px;
    width: 5%;
}

#copyright {
    font-family: Montserrat-Bold;
    text-align: center;
    font-size: 110%;
}